<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Help</title>
</head>

<body>
    {% include 'navigation.html' %}
    <h4>Руководство пользователя</h4>
    <p>Для отображения лексем, которые есть в словаре, используйте страницу "<a
            href="{{ url_for('lexemes') }}">Лексемы</a>".</p>
    <p>Для просмотра, добавления, изменения, удаления слов, а также просмтора частоты их встречаемости используйте
        вкладку "<a href="{{ url_for('words') }}">Слова</a>".</p>
    <p>Для анализа текста используйте вкладку "<a href="{{ url_for('analysis') }}">Анализ текста</a>". Здесь Вы можете
        ввести текст в поле "Текст" и проанализировать его для добавления слов в словарь.</p>
</body>

</html>